.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.numbers-container {
  margin: 1em;
  width: 800px;
  float: left;
  text-align: left;
}

.numbers-container span {
  margin-right: 0.8em;
  float: left;
  width: 4em;
  text-align: right;
  line-height: 1.8em;
}

.numbers-container span.selected {
 color: #ee3399;
}

.number-selector ul {
  list-style-type: none;
}

.number-selector li {
  width: 8em;
  display: inline-block;
}

.number-selector input[type="radio"] {
  margin-right: 1em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
